.hero-section .hero-content {
  color: white;
  z-index: 2;
  position: relative;
}

.hero-section .section-content {
  color: white;
  z-index: 2;
  position: relative;
}

.card img {
  height: 200px;
  object-fit: cover;
}

.alat-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: none !important;
}

.alat-card:hover {
  transform: scale(1.02);
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.25) !important;
}

.lab-card-custom {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: none;
}

.lab-card-custom:hover {
  transform: scale(1.02);
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.25) !important;
}

.alat-card .icon {
  width: 60px;
  height: 60px;
  border: 2px solid #e53935;
  /* Contoh warna merah */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  color: #e53935;
}

.lab-card-custom .icon {
  width: 80px;
  height: 80px;
  border: 2px solid #e53935;
  /* Contoh warna merah */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5em;
  color: #e53935;
}
