/* HERO */

.hero-section .hero-content {
  position: relative;
  color: #fff;
  text-align: center;
  z-index: 2;
}
/* Card Modern */

.vmg-img:hover, .vmg-img-right:hover {
  transform: scale(1.02);
}

.vmg-img-right {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 18px;
  overflow: hidden;
  transition: 0.35s;
  margin-bottom: 20px;
  box-shadow: 25px 30px rgb(255, 0, 0);
}
.vmg-img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 18px;
  overflow: hidden;
  transition: 0.35s;
  margin-bottom: 20px;
  box-shadow: -25px 30px rgb(255, 0, 0);
}

/* Judul section */
.section-title {
  font-size: 28px;
  font-weight: 700;
  color: #ff0000;
}
